/*general - start*/
html {
	font-size: 62.5%;
}

h2, #picsHeader {
	color: #568E14;
}

body {
	text-align: center;
	overflow: auto;
	font-size: 14px;
	font-size: 1.4rem;
}

.overall {
	height: 100vh;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	background-color: #f4f4f4;
	display: none;
}

.disabled {
	color: #f4f4f4 !important;
}

/* loader - start */
#loader {
	display: none;
	position: absolute;
	background: transparent;
	z-index: 4;
}

#img-load {
	position: relative;
	height: 100px;
	width: 100px;
	z-index: 5;
}
/* loader - end */

/* general- end */

/* album and image container & elements - start */

/* album name and details - start */
.albumBreadcrumbs {
	text-align: center;
	margin: 2% 0 0 18%;
	width: 60%;
}

#picsHeader {
	margin: 1% 15% 1% 15%;
}

#albumSummary {
	font-size: 1.4rem;
	margin: 0 15% 0 15%;
	text-align: justify;
}

/* album name and details - end */
.imageContainer {
	margin-top: 5%;
}

.mainDiv {
	color: white;
	height: auto;
	padding: 0;
	margin: 2%;
}

.picDiv {
	margin: .5%;
	height: 25vh;
}

.albumContainer, .imageContainer {
	margin: 2% 0 0 24%;
	width: 50vw;
	height: 75vh;
}

.faceOfAlbum, .albumPic {
	-webkit-box-shadow: 2px 2px 4px 0px black;
	/* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 2px 2px 4px 0px black;
	/* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	cursor: pointer;
	height: 100%;
	width: 100%;
	min-width: 120px;
	max-width: 160px;
	max-height: 160px;
	min-height: 130px;
}

.albumName {
	color: #0000EE;
	margin: 10% 0 20% 0;
}

.divOverlay {
	border: 1px solid black;
	opacity: 0.3;
	height: 100%;
	position: absolute;
	width: 100%;
	color: white;
	background-color: black;
	top: 0;
	left: 0;
}

/* album images view - end */

/* album and image container & elements - end */

/*image popup with details - start*/
.content {
	position: absolute;
	top: 2vh;
	left: 7.5vw;
	z-index: 2;
	display: none;
	color: black;
	background-color: white;
	width: 85vw;
	height: 97vh;
	font-size: 3.4rem;
}

.content img {
	max-height: 82vh;
	min-height: 80vh;
	max-width: 97%;
	min-width: 60%;
}

.content .fa-chevron-left, .content .fa-chevron-right {
	margin-top: 35vh;
}

.closeContainer {
	position: absolute;
	top: -4%;
	left: 100%;
	z-index: 3;
	font-size: 3.5rem;
}

.closeContainer span {
	font-size: 3rem;
}

.picHeading {
	word-wrap: break-word;
}

.picDesc {
	font-size: 1.6rem;
	text-align: justify;
	margin-top: 25%;
	padding-left: 0;
	width: 90%;
}

.img-prev, .img-next {
	font-size: 5rem !important;
}

.content .col-lg-1, .content .col-lg-3, .arrow {
	padding: 0;
}

/*image popup with details - end*/

/*  timeline - start */
.timeline {
	margin-top: 1%;
	width: 50%;
	margin-left: 25%;
}

.arrow, .selector, .img-prev, .img-next, .year:hover, .makeLink, .active
	{
	color: #568E14;
	cursor: pointer;
}

.active .selector {
	background-color: #568E14;
}

.selector {
	height: 5px;
	border-radius: 15px;
}

.showSelector {
	display: inherit;
}

/*  timeline - end */

/* album images view - start */

/*Media Queries*/

/*xxs < 430*/
@media screen and (max-width: 430px) {
	.albumContainer, .imageContainer {
		width: 100%;
		margin: 2% 0 0 2%;
		padding: 0;
	}
	.imageContainer {
		margin-left: 8%;
	}
	.albumBreadcrumbs {
		width: 100%;
		margin: 2% 0 0 0;
	}
	#albumSummary, #picsHeader {
		margin-left: 0;
	}
	.timeline>div {
		padding: 0;
	}
	.timeline {
		width: 100%;
		margin-left: 0;
	}
	.picDesc {
		margin-top: 5%;
		margin-left: 3%;
		width: 96%;
	}
	.content img {
		min-height: 200px;
		max-height: 55vh;
	}
	.viewImageContainer {
		height: 55vh;
	}
}

/* xs > 430 */
@media screen and (min-width: 430px) {
	.albumContainer {
		width: 100%;
		margin-left: 4.25%;
	}
	.imageContainer {
		margin-left: 13.5%;
		width: 85%;
	}
	.albumBreadcrumbs {
		width: 100%;
		margin: 2% 0 0 0;
	}
	.albumSummary, .picsHeader {
		margin-left: 0;
	}
	.timeline>div {
		padding: 0;
	}
	.timeline {
		width: 100%;
		margin-left: 5%;
	}
	.picDesc {
		margin-top: 5%;
		margin-left: 3%;
		width: 96%;
	}
	.content img {
		min-height: 200px;
		max-height: 55vh;
	}
	.viewImageContainer {
		height: 55vh;
	}
}

/*xs > 520*/
@media screen and (min-width: 520px) {
	.albumContainer {
		width: 90%;
		margin-left: 7.25%;
	}
	.imageContainer {
		width: 75%;
		margin-left: 17.5%;
	}
	.timeline {
		width: 85%;
		margin-left: 11%;
	}
	.picDesc {
		margin-top: 5%;
		margin-left: 3%;
		width: 96%;
	}
	.content img {
		min-height: 200px;
		max-height: 55vh;
	}
	.viewImageContainer {
		height: 55vh;
	}
}

/* sm */
@media screen and (min-width: 768px) {
	.albumContainer {
		width: 80%;
		margin-left: 14.5%;
	}
	.timeline {
		width: 80%;
		margin-left: 13.5%;
	}
	.picDesc {
		margin-top: 25%;
		width: 90%;
	}
	.content img {
		min-height: 75vh;
	}
	.noScroll {
		overflow: hidden;
	}
}

/* md */
@media screen and (min-width: 992px) {
	.albumContainer {
		width: 60%;
		margin-left: 22.25%;
	}
	.albumBreadcrumbs {
		margin: 2% 0 0 18%;
		width: 65%;
	}
	#albumSummary, #picsHeader {
		margin-left: 15%;
	}
	.imageContainer {
		margin-left: 26.5%;
		width: 60%;
	}
	.timeline {
		width: 65%;
		margin-left: 20.5%;
	}
	.picDesc {
		margin-top: 25%;
		width: 90%;
	}
	.noScroll {
		overflow: hidden;
	}
	.viewImageContainer {
		height: auto;
	}
}

/*lg*/
@media screen and (min-width: 1200px) {
	.albumContainer {
		width: 50%;
		margin-left: 26.25%;
	}
	.imageContainer {
		margin-left: 26.5%;
		width: 55%;
	}
	.albumBreadcrumbs {
		margin: 2% 0 0 18%;
		width: 60%;
	}
	#albumSummary, #picsHeader {
		margin-left: 15%;
	}
	.timeline {
		width: 50%;
		margin-left: 25%;
	}
	.picDesc {
		margin-top: 25%;
		width: 90%;
	}
	.noScroll {
		overflow: hidden;
	}
}